<!-- <app-bread-crumb [items]="[{ text: 'Categories' }]"></app-bread-crumb> -->

<app-page-header
  page-title="Categories"
  button-text="+ New category"
  button-link="new"
  button-class="btn-mb btn-md"
></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="light-bg2 text-light">
      <th>Category</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of resources">
      <td>
        {{ category.name }}<br />
        <small>{{ category.description }}</small>
      </td>
      <td class="text-right">
        <a
          [routerLink]="[category.id, 'edit']"
          class="btn btn-outline-primary btn-sm mr-2"
          >Edit</a
        >
        <button
          (click)="deleteResource(category)"
          class="btn btn-outline-danger btn-sm"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
