<!-- <app-bread-crumb
  [items]="[{ text: 'Entries', link: '/entries' }, { text: pageTitle }]"
></app-bread-crumb> -->

<app-page-header [page-title]="pageTitle"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Entries information</div>

    <div class="card-body form-body">
      <div class="form-row input-container">
        <!-- type -->
        <div class="form-group">
          <label for="type">Type</label>

          <select
            name="type"
            id="type"
            formControlName="type"
            class="form-control"
          >
            <option value="" selected>Select entry type</option>
            <option *ngFor="let option of typeOptions" [ngValue]="option.value">
              {{ option.text }}
            </option>
          </select>

          <app-form-field-error
            [form-control]="resourceForm.get('type')"
          ></app-form-field-error>
        </div>

        <!-- name -->
        <div class="form-group">
          <label for="name">Entry</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />

          <app-form-field-error
            [form-control]="resourceForm.get('name')"
          ></app-form-field-error>
        </div>

        <!-- amount -->
        <div class="form-group">
          <label for="amount">Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
            </div>
            <input
              type="text"
              class="form-control text-right"
              id="amount"
              formControlName="amount"
            />
          </div>

          <app-form-field-error
            [form-control]="resourceForm.get('amount')"
          ></app-form-field-error>
        </div>

        <!-- date -->
        <div class="form-group">
          <label for="date" class="w-100">Date</label>
          <p-calendar
            id="date"
            class="w-100"
            formControlName="date"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true"
          >
          </p-calendar>

          <app-form-field-error
            [form-control]="resourceForm.get('date')"
          ></app-form-field-error>
        </div>
      </div>

      <div class="form-row input-container">
        <!-- paid -->
        <div class="form-group">
          <label for="paid" class="w-100">Status</label>
          <div class="btn-group w-100">
            <label
              (click)="resourceForm.get('paid').setValue(true)"
              [class.active]="resourceForm.get('paid').value == true"
              class="btn btn-outline-primary status-btn paid"
            >
              Paid
            </label>
            <label
              (click)="resourceForm.get('paid').setValue(false)"
              [class.active]="resourceForm.get('paid').value == false"
              class="btn btn-outline-primary status-btn pending"
            >
              Pending
            </label>
          </div>

          <app-form-field-error
            [form-control]="resourceForm.get('paid')"
          ></app-form-field-error>
        </div>

        <!-- categoryId -->
        <div class="form-group">
          <label for="categoryId">Category</label>

          <select
            name="categoryId"
            id="categoryId"
            formControlName="categoryId"
            class="form-control"
          >
            <option value="" selected>Select category</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">
              {{ category.name }}
            </option>
          </select>

          <app-form-field-error
            [form-control]="resourceForm.get('categoryId')"
          ></app-form-field-error>
        </div>

        <!-- description -->
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
          />

          <app-form-field-error
            [form-control]="resourceForm.get('description')"
          ></app-form-field-error>
        </div>
      </div>
    </div>
  </div>

  <app-server-error-messages
    [server-error-messages]="serverErrorMessages"
  ></app-server-error-messages>

  <button
    [disabled]="submittingForm || resourceForm.invalid"
    type="submit"
    class="btn-mb btn-lg float-right mt-4 mb-32"
  >
    Save Entry
  </button>

  <a
    [routerLink]="['/reports']"
    class="btn-mb buttonClass btn-lg btn-sec float-right mt-4 mr-3 mb-32"
  >
    CANCEL
  </a>
</form>
