<app-bread-crumb [items]="[{ text: 'Entries' }]"></app-bread-crumb>

<app-page-header
  page-title="Entries"
  button-text="+ New entry"
  button-link="new"
  button-class="btn-success"
></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="light-bg2 text-light">
      <th>Entry</th>
      <th>Category</th>
      <th class="text-right">Amount</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of resources">
      <td>
        {{ entry.name }}
        <br />
        <small class="font-primary">{{ entry.date }}</small
        ><br />
        <small *ngIf="entry.description">{{ entry.description }}</small>
      </td>
      <td>
        {{ entry.category.name }}
      </td>
      <td class="text-right">
        <strong
          [class.font-secondary]="entry.type == 'revenue'"
          [class.text-danger]="entry.type == 'expense'"
        >
          {{ entry.amount | currency }}
        </strong>
        <br />
        <span class="badge badge-light">{{ entry.paidText }}</span>
      </td>
      <td class="text-right">
        <a
          [routerLink]="[entry.id, 'edit']"
          class="btn btn-outline-primary btn-sm mr-2"
          >Edit</a
        >
        <button
          (click)="deleteResource(entry)"
          class="btn btn-outline-danger btn-sm"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
